# Entorno virtual
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribución / Empaquetado
build/
dist/
*.egg-info/

# Base de datos (mejor no subirla si quieres que el repo esté limpio)
data/*.db

# Documentación compilada
docs/build/